body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}
h1,
h2 {
    font-weight: 300;
    margin-top: 0;
}
h1{
    font-size: 3.75rem;
}

h2{
    font-size: 2.625rem;    
    border-top: 1px solid #268AFF;
    border-bottom: 1px solid #268AFF;
    padding-top: 0.24em;
    padding-bottom: 0.24em;
}

h3{
    font-size: 2.25rem;
    margin-bottom: 0px;
}

p{
    margin-top: .3125em;
}

a{
    color: #268AFF;
}

header img{
    max-width: 100%;   
    width: 300px;
    border-radius: 50%; 
    border: 5px solid #268AFF;
}

.work img{
    max-width: 100%;
}

span{
    display: block;
    color: #268AFF;
    font-weight: 900;
}

h1 span{
    font-size: 5rem;    
}

h2 span{
    font-size: 3.75rem;
}

header,
section{
    padding-top: 2.8125em;
    padding-bottom: 2.8125em;
}

.orange{
    background: #EDBBD8;
}

.small-text{
    font-size: 1rem;
}

.name,
.time{
    display: inline;
    color: #268AFF;
    font-weight: 300;
}

.inside{
    max-width: 560px;
    margin: 0 auto;
    padding: 1em;
}

.btn{
    background: #268AFF;
    color: #EDBBD8;
    padding: .625em 1.25em;
    text-decoration: none;
    display: inline-block;
    font-weight: 900;
}

.btn:hover,
.btn:focus{
    background: #EDBBD8;
    color: #268AFF;
}

article .btn:hover,
article .btn:focus{
    background: #fff;
    color: #252525;
}

@media (min-width:700px){
    .container{
        display: flex;
    }
    
    .container .sections{
        width: 50%;
    }

    .container .orange{
        background: #268AFF;        
    }

    .container .orange .name,
    .container .orange .time{
        color: #252525;
    }

    .container .orange span{
        color: #EDBBD8;
    }

    .container .orange h2{
        border-color: currentColor;
    }

    .container .orange .btn{
        background: #252525;
    }

    .container .orange .btn:hover,
    .container .orange .btn:focus{
        background:#EDBBD8;
        color: #268AFF;
    }

    .portfolio{
        background-color: #EDBBD8;
        height: 70vh;
        display: flex;
        align-items: center;
    }

    .portfolio .inside{
        max-width: 1200px;
        width: 100%;
    }

    .portfolio .work{
        display: flex;
        justify-content: space-between;
    }

    .portfolio-item{
        width: 28%;
    }

    .work img{
        height: 10em;
        width: 100%;
        object-fit: cover;
        border-radius: 0;
    } 
    
}